# Dependencias
/node_modules
/package-lock.json
/yarn.lock
/pnpm-lock.yaml

# Carpetas de construcción
/dist
/build
/.vite/
/.svelte/

# Archivos de entorno local
.env.local
.env.*.local

# Archivos del sistema
.DS_Store
Thumbs.db

# Carpetas y archivos de editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de perfil de rendimiento
*.prof

# Carpetas específicas de herramientas de desarrollo
/.sass-cache
/.next
/.nuxt
/out

# Archivos específicos de sistemas operativos
ehthumbs.db
Icon?
